*{
    font-family: cursive;
}

body{
    background-color: #f88a7b75;
}
h1 { 
    text-align: center;
}

.burger-list{
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.not-devoured{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} 

.devoured{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h2 {
    text-align: center;
}
#create-form {
    text-align: center;
}

img{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}