	<h1>Eat-Da-Burger!</h1>

<h2>Not devoured</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgersList devour=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Devoured</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgersList devour=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form id="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>